@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: DinRoundPro;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    a{
        text-decoration: none !important;
    }
    font-family: "Roboto", sans-serif;
}


html,body{
    /* background: black; */
    background-color:#26272b;
}


h1, h2, h3, p, label{
    text-align: center;
    color: white;
}

h2{
    font-size: 50px;
}

p{
    font-size: 18px;
}

.paddingTopBottomCustom10{
    padding: 10vh 0 
}

.paddingTopBottomCustom5{
  padding: 5vh 0 
}

.carousel-custom {
    height: 60vh; /* 60% del tamaño de la pantalla */
}

.carousel-custom .carousel-item,
.carousel-custom img {
    height: 100%;
}

.carousel-custom img {
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin deformarse */
    width: 100%;
}

.h-custom20{
    margin-top: 50px;
    margin-bottom: 50px;
}

.p-custom{
    text-align: justify;
}

.customColorBlack{
  color: black;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cardImg{
    width: 200px;
    height: 400px;
}

.cardImg:hover{
    padding-top: 50px;
}


.imgsCustom{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 5px;
}
.customPosition200{
  position: relative;
  top: -200px;
}

iframe{
    max-width: 20v;
}

.section-custom>div>.subTitle, .txt{
    text-align: left;
}

.videos-custom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 10%; */
}

.box-custom{
    max-width: 500px;
    margin: 5%;
}

@media (max-width: 1200px) {
    .box-custom{
        max-width: 80vw;
    }
}

@media (max-width: 1402px) {
    .box-custom{
        margin: 1%;
    }
}

.icon-custom{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-custom{
    list-style: none;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 50px;
    font-size: none;
    margin: 0;
    padding: 0;
}

/*bedrooms */

.imgCardBedroomCustom{
    height: 300px;
}
.gallery-custom img {
    object-fit: cover;
    max-height: 90vh;
    margin-top: 20px;
}


.customBgImagen{
    background-image: url(../assets/imgs/baner.jpg);
    height: 500px;
}

.customDFlexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custonBgBlackLigth{
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    min-width: 600px; 
    padding: 20px 0;
    border-radius: 5px;   
}

/* Testimonial */
/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 ----------------------------------*/

a {
  color: #03658c;
  text-decoration: none;
}

ul {
 list-style-type: none;
}

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
 margin: 60px auto 15px;
 width: 768px;
}

.comments-container h1 {
 font-size: 36px;
 font-weight: 400;
}

.comments-container h1 a {
 font-size: 18px;
 font-weight: 700;
}

.comments-list {
 margin-top: 30px;
 position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
 content: '';
 width: 2px;
 height: 100%;
 background: #c7cacb;
 position: absolute;
 left: 32px;
 top: 0;
}

.comments-list:after {
 content: '';
 position: absolute;
 background: #c7cacb;
 bottom: 0;
 left: 27px;
 width: 7px;
 height: 7px;
 border: 3px solid #dee1e3;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
 content: '';
 width: 60px;
 height: 2px;
 background: #c7cacb;
 position: absolute;
 top: 25px;
 left: -55px;
}


.comments-list li {
 margin-bottom: 15px;
 display: block;
 position: relative;
}

.comments-list li:after {
 content: '';
 display: block;
 clear: both;
 height: 0;
 width: 0;
}

.reply-list {
 padding-left: 88px;
 clear: both;
 margin-top: 15px;
}
/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
 width: 65px;
 height: 65px;
 position: relative;
 z-index: 99;
 float: left;
 border: 3px solid #FFF;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 box-shadow: 0 1px 2px rgba(0,0,0,0.2);
 overflow: hidden;
}

.comments-list .comment-avatar img {
 width: 100%;
 height: 100%;
}

.reply-list .comment-avatar {
 width: 50px;
 height: 50px;
}

.comment-main-level:after {
 content: '';
 width: 0;
 height: 0;
 display: block;
 clear: both;
}
/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
 width: 680px;
 float: right;
 position: relative;
 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
 -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
 box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
 content: '';
 height: 0;
 width: 0;
 position: absolute;
 display: block;
 border-width: 10px 12px 10px 0;
 border-style: solid;
 border-color: transparent #FCFCFC;
 top: 8px;
 left: -11px;
}

.comments-list .comment-box:before {
 border-width: 11px 13px 11px 0;
 border-color: transparent rgba(0,0,0,0.05);
 left: -12px;
}

.reply-list .comment-box {
 width: 610px;
}
.comment-box .comment-head {
 background: #FCFCFC;
 padding: 10px 12px;
 border-bottom: 1px solid #E5E5E5;
 overflow: hidden;
 -webkit-border-radius: 4px 4px 0 0;
 -moz-border-radius: 4px 4px 0 0;
 border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
 float: right;
 margin-left: 14px;
 position: relative;
 top: 2px;
 color: #A6A6A6;
 cursor: pointer;
 -webkit-transition: color 0.3s ease;
 -o-transition: color 0.3s ease;
 transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
 color: #03658c;
}

.comment-box .comment-name {
 color: #283035;
 font-size: 14px;
 font-weight: 700;
 float: left;
 margin-right: 10px;
}

.comment-box .comment-name a {
 color: #283035;
}

.comment-box .comment-head span {
 float: left;
 color: #999;
 font-size: 13px;
 position: relative;
 top: 1px;
}

.comment-box .comment-content {
 background: #FFF;
 padding: 12px;
 font-size: 15px;
 color: #595959;
 -webkit-border-radius: 0 0 4px 4px;
 -moz-border-radius: 0 0 4px 4px;
 border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
 content: 'autor';
 background: #03658c;
 color: #FFF;
 font-size: 12px;
 padding: 3px 5px;
 font-weight: 700;
 margin-left: 10px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
 .comments-container {
   width: 480px;
 }

 .comments-list .comment-box {
   width: 390px;
 }

 .reply-list .comment-box {
   width: 320px;
 }
}

/* Restaurant */
.p-customLeft{
  text-align:left;
}
/* End restaurant */

/* end Testimonial */

.customContainer{
    display: flex;
    gap: 20px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}


.customCard{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.customColorCard1{
    background: #427592;
}

.customColorCard2{
    background: #5B9DD7;
}

.customColorCard3{
    background: #06BE4F;
}

.customColorCard4{
    background: #002A8D;
}

.customColorCard5{
    background: #FD0A13;
}

.customColum{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap:none;
}

.customSize60{
    font-size: 60px;
}

.customSize45{
    font-size: 45px;
}
.customSize12{
    font-size: 12px;
}

.customMgBottom0{
    margin-bottom: 0;
}

.custonPosition-10{
    position: relative;
    top: -20px;
}


.imgFondo {
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url(../assets/imgs/Hostal.jpg);
    height: 100%;
    background-size: cover;
    background-position: center; 
    border-radius: 10px;
}

/* :::::::::::: */

.site-footer{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small{
  margin:20px 0
}
.site-footer h6{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a{
  color:#737373;
}
.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footer-links{
  padding-left:0;
  list-style:none
}
.footer-links li{
  display:block
}
.footer-links a{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li{
  display:inline-block
}
.site-footer .social-icons{
  text-align:right
}
.site-footer .social-icons a{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text{
  margin:0
}
@media (max-width:991px){
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px){
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover{
  background-color:#3b5998
}
.social-icons a.twitter:hover{
  background-color:#00aced
}
.social-icons a.linkedin:hover{
  background-color:#007bb6
}
.social-icons a.dribbble:hover{
  background-color:#ea4c89
}
@media (max-width:767px){
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
